@model FeedbackViewModel
@{
    ViewData["Title"] = "Feedback";
}


@using (Html.BeginForm("Feedback", "Order", FormMethod.Post))
{
    <div class="jumbotron">
        <h2 class="text-center text-primary">Feedback</h2>
        <br />
        <br />


        <div class="input-group input-group-md">
            <span class="input-group-addon">@Html.LabelFor(x => x.Name)</span>
            @Html.TextBox("model.Name", null, new { @class = "form-control" })
        </div>

        <br />

        <div class="input-group input-group-md">
            <span class="input-group-addon">@Html.LabelFor(x => x.Email)</span>
            @Html.TextBox("model.Email", null, new { @class = "form-control" })
        </div>


        <br />


        <div class="input-group input-group-md">
            <span class="input-group-addon">@Html.LabelFor(x => x.Message)</span>
            @Html.TextArea("model.Message", null, new { @class = "form-control" })
        </div>

        <br />
        <br />

        <button class="btn btn-primary center-block" type="submit">Submit</button>
    </div>

}


